<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE==edge">
        <title>Authentication</title>
        <meta name="description" content="">
        <meta rel="sytelesheet" href="">
    </head>
    <body>
        <h3>Welcome to Geeks For Geeks</h3>
        <button type="submit"> <a href="/signup">SignUp</a></button>
        <button type="submit"> <a href="/signin">signIn</button>
        <button type="submit"> <a href="/signout">SignOut</button>

        <script src="" async defer></script>


    </body>
    </html>